PORT=3000
OPENAI_API_KEY=sk-???
MONGO_URI= 
ENCRYPTION_KEY=0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef
# create a random key with: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"


LITELLM_PROXY_URL=http://localhost:4000
LITELLM_MASTER_KEY=master_key

# --- db-backup הסבר: משתנים אלו משמשים לגיבוי מסד הנתונים ל-AWS S3. יש למלא אותם רק אם רוצים להשתמש בפיצ'ר זה. יש להחליף את הערכים בערכים המתאימים לחשבון ה-AWS שלך ולשם הבאקט שבו תרצה לאחסן את הגיבויים. אם לא מתכוונים להשתמש בגיבוי ל-S3, ניתן להשאיר את השורות האלה כמות שהן (עם הערכים המלאים).
# AWS_ACCESS_KEY_ID=הקי_שלך
# AWS_SECRET_ACCESS_KEY=הסוד_שלך
# AWS_S3_BUCKET_NAME=שם_הבאקט_שלך